* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: rgb(147, 143, 143);
}

body {
    width: 100vw;
    min-height: 100vh;
    background-color: rgb(14, 8, 41);
    border: 1px solid black;
    font-family: 'Roboto', sans-serif;
    position: relative;
    margin: auto;
}

.faka_div {
    height: 40px;
    width: 100%;
    background-color: rgb(43, 37, 110);
    position: sticky;
    top: 0;
    z-index: 2;
}


.second_section {
    display: flex;
    align-items: center;
    height: 50px;
    width: 100%;
    background-color: rgb(43, 37, 110);
    position: sticky;
    top: 40px;
    z-index: 2;
}

.second_section .app_name {
    font-size: 15px;
    background-color: rgb(43, 37, 110);
    position: absolute;
    left: 15px;
}

.second_section ul {
    display: flex;
    justify-content: space-around;
    width: 120px;
    background-color: rgb(43, 37, 110);
    position: absolute;
    right: 15px;
}

.second_section ul li {
    list-style: none;
}

.second_section ul li a{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    list-style: none;
    background-color: rgb(43, 37, 110);
    display: grid;
    justify-content: center;
    align-items: center;
}

.second_section ul li img {
    background-color: rgb(43, 37, 110);
    width: 15px;
    height: 15px;
}


.third_section {
    height: 40px;
    width: 100%;
    background-color: rgb(43, 37, 110);
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    top: 90px;
    z-index: 2;
    overflow: hidden;
}

.third_section ul {
    display: flex;
    justify-content: space-between;
    background: rgb(43, 37, 110)
}

.third_section ul li {
    list-style: none;
}

.third_section a {
    text-decoration: none;
}

.third_section ul .li_chats, .li_status {
    font-size: 13px;
    padding: 12px 30px;
}

.user-people {
    height: 40px;
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 10px 20px 10px 20px;
    margin-left: 15px;
}

.third_section .user-people img {
    width: 20px;
}

.third_section ul li a:hover {
    color: rgb(94, 113, 161);
    border-bottom: 3px solid rgb(94, 113, 161);
    padding: 12px 30px 9px;
    cursor: pointer;
}

.third_section .user-people:hover {
    color: rgb(94, 113, 161);
    border-bottom: 3px solid rgb(94, 113, 161);
    padding: 10px 20px 7px 20px;
    cursor: pointer;
}

.li_calls {
    font-size: 13px;
    list-style: none;
    color: rgb(94, 113, 161);
    border-bottom: 3px solid rgb(94, 113, 161);
    padding: 12px 30px 9px;
    cursor: pointer;
}

/* create call link */
.call_link {
    /* background-color: purple; */
    height: 60px;
    width: 100%;
    position: relative;
    margin-top: 10px;
    display: flex;
}

.link_logo_div {
    width: 70px;
    height: 60px;
    display: grid;
    justify-content: center;
    align-items: center;
    /* background-color: green; */
}

.link_logo {
    width: 40px;
    height: 40px;
    background-color: rgb(2, 107, 65);
    border-radius: 50%;
    display: grid;
    justify-content: center;
    align-items: center;
}

.call-share_link {
    height: 60px;
    overflow: hidden;
    position: absolute;
    left: 70px;
    right: 15px;
    top: 10px;
    bottom: 10px;
}

.create_call {
    /* background-color: rgb(43, 37, 110); */
    font-size: 14px;
    height: 20px;
    display: grid;
    align-items: center;
    justify-content: start;

}

.share_link {
    /* background-color: royalblue; */
    font-size: 12px;
    height: 20px;
    display: grid;
    align-items: center;
    justify-content: start;
}

/* recent */
.recent {
    margin: 10px 15px;
    /* background-color: rgb(43, 37, 110); */
    font-size: 13px;
}

/* footer part */

.footer_value {
    height: 60px;
    width: 100%;
    background-color:  rgb(16, 13, 50);
    border-top: 1px solid rgb(46, 50, 88);
    position: absolute;
    bottom: 0;
}

.footer_value .footer_text {
    display: flex;
    flex-wrap: wrap;
    font-size: 11px;
    margin-top: 15px;
    height: 20px;
    justify-content: center;
    align-items: center;
}

.footer_value .lock_icon {
    width: 11px;
    height: 11px;
    margin-right: 5px;
    margin-top: 1.5px;
}

.footer_value .footer_text .hyper {
    margin-left: 4px;
    text-decoration: none;
    color: rgb(67, 43, 176);
}


.message_div {
    background-color: rgb(22, 120, 81);
    height: 45px;
    width: 45px;
    border-radius: 50%;
    position: fixed;
    right: 15px;
    bottom: 20px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.message-icon {
    width: 15px;
    rotate: 180deg;
}